/*背景*/
body{
    background-color: #848484;
  }
/*ヘッダー題名*/
h1{
    width: 650px;
   height: 100px;
   margin: auto;
   font-size:300%;
   text-align: center;
   background:#fff;
   left:0;
   line-height:70px;
   position:fixed;
   top:0px;
   width:100%;
   z-index:24;
}

/*全体*/
.header,.content,.footer{
    max-width: 650px;
    margin: auto;
    padding: 0 20px;
}

/*ヘッダー*/
h4{
    background:#fff;
    box-shadow:0 2px 0px rgba(30,30,80,.3);
    left:0;
    line-height:2;
    position:fixed;
    top:43px;
    width:100%;
    z-index:24;
    text-align: right
  }

  /*コンテンツ*/
  .content{
    margin-top: 100px;
    background-color: #eeeeee;
    text-align: center
}

/*題名*/
  h2{
    margin-top: 30px;
    font-size:200%;
  }
  .bar{
    background-image : url( ber.png );
    box-shadow:0 2px 0px rgba(30,30,80,.3);
}
  /*サブタイトル*/
  h3{
    margin-top: 50px;
      font-size: 150%;
    box-shadow:0 2px 0px rgba(30,30,80,.3);
  }
  .zero{
      color: red;
  }

  /*タイマー*/
  .number1{
      font-size: 200%;
      width: 60px;
      text-align: right;
  }

  /*プレイヤー*/
  .memo1,.memo2,.memo3,.memo4{
      margin: auto;
  }
  .memo1{
      color: red;
  }
  .memo2{
      color: blue;
  }
  .memo3{
      color: green;
  }
  .memo4{
      color: purple;
  }

  /*ボタン*/
  .player{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: black;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.player:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
.peony {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fa35fd;/*背景色*/
    border-bottom: solid 2px #d200c8;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    margin-top: 10px;
}
.peony:active{
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30)
}


/*タイマー入力部*/
  input{
      font-size: 30%;
  }

  /*チェックボックス*/
  .check{
      size: 80%;
      transform:		scale(2.2);
  }

  /*テーブルタグ*/
  table{
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }
  .text{
      font-size: 30%;
  }

  /*俺の画像*/
  .eda{
      margin-top: 30px;
    width: 15%;
    height: 15%;
}

  /*フッダー*/
  footer{
    color: white;
    background: #000000;
    text-align: center;
    margin-top: 0px;
    padding: 15px;
  }
