/*背景*/
.back-left{
  top: 100px;
  width: 300px;
  height: 300px;
  position:fixed;
  left: 0;
}
.back-boy{
  top: 400px;
  width: 100px;
  height: 300px;
  position:fixed;
  left: 80px;
}
.back-rigth{
  top: 400px;
  width: 300px;
  height: 300px;
  position:fixed;
  right: 0;
}
.back-girl{
  top: 100px;
  width: 100px;
  height: 300px;
  position:fixed;
  right:  80px;
}
/*ヘッダー題名*/
h1{
    width: 650px;
   height: 100px;
   margin: auto;
   font-size:300%;
   text-align: center;
   background:#fff;
   left:0;
   line-height:70px;
   position:fixed;
   top:0px;
   width:100%;
   z-index:24;
}

/*全体*/
.header,.content,.footer{
    max-width: 650px;
    margin: auto;
    padding: 0 20px;
}

/*ヘッダー*/
h4{
    background:#fff;
    box-shadow:0 2px 0px rgba(30,30,80,.3);
    left:0;
    line-height:2;
    position:fixed;
    top:43px;
    width:100%;
    z-index:24;
    text-align: right
  }

   /*コンテンツ*/
   .content{
    margin-top: 100px;
    background-color: #eeeeee;
    text-align: center;
}

/*題名*/
h2{
    margin-top: 30px;
    font-size:200%;
  }
  .bar{
    background-image : url( ber.png );
    box-shadow:0 2px 0px rgba(30,30,80,.3);
}
  /*サブタイトル*/
  .sabu{
    margin-top: 50px;
      font-size: 150%;
    box-shadow:0 2px 0px rgba(30,30,80,.3);
  }

    /*俺の画像*/
    .eda{
        margin-top: 30px;
      width: 100px;
      height: 100px;
  }
  
    /*フッダー*/
    footer{
      color: white;
      background: #000000;
      text-align: center;
      margin-top: 0px;
      padding: 15px;
    }
